<h1><%= current_feed.title %></h1>

<div class='feed'>
  <%= render FeedItemComponent.with_collection(@posts) %>
</div>

<div>
  <button data-controller='theme-switcher' data-action='theme-switcher#switch'>Switch theme</button>
</div>