.card {
  border: 1px var(--border) solid;
  margin-bottom: 1em;
  hr {
    margin: 0 1em;
  } 
  .header {
    padding: 0.8em 1em;
    display: flex;
    justify-content: space-between;
    + .body {
      padding-top: 0;
    }
  }
  .body {
    padding: 0.8em 1em;
  }
  .footer {
    padding: 0.8em 1em;
    display: flex;
    justify-content: space-between;  
  }
  &.invert {
    background: var(--fg-color);
    color: var(--bg-color);
  }
}