body {
  margin: 0;
}

.page-layout {
  --sidebar-width: 55px;
  &.sidebar-expanded {
    --sidebar-width: 180px;
  }

  display: flex;
  height: 100vh;

  .main-area {
    width: 100%;
    margin-left: var(--sidebar-width);
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    main {
      flex: 1 1 0%;
      width: 100%;
      max-width: 56rem;
      margin: 0 auto;
      padding-bottom: 5em;
    }
  }
  footer {
    box-sizing: border-box;
    transition: left .3s ease;

    background: var(--bg-color);
    padding: 1em;
    border: 1px var(--border) solid;
    border-left: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: var(--sidebar-width);
  }

}