.sidebar-expanded .sidebar {
  .collapsed {
    display: none;
  }
}

.sidebar-collapsed .sidebar {
  .expanded {
    display: none;
  }
}

.sidebar {
  --padding: 0.5em 1em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  transition: width .3s ease;

  box-sizing: border-box;
  border: 1px var(--border) solid;

  width: var(--sidebar-width);
  .sidebar-header {
    
  }
  .sidebar-toggle {
    padding: 1em;
    span {
      cursor: pointer;
    }
  }
  .sidebar-nav {
    flex: 1 1 0%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .sidebar-item {
    border-top: 1px var(--border) solid;
    a {
      display: flex;
      width: 100%;
      padding: 0.5em 0;
      transition: all .3s ease;
      span {
        padding-left: 1em;
      }
      .icon {
        width: 20px;
        height: 20px;
        margin: 0 auto;
      }
    }
  }
  .sidebar-footer {
    text-align: center;
    padding: 0.5em 0;
  }
}

