:root {
  --bg-color: white;
  --fg-color: black;
  --border: gray;
  --dimmed: darkgray;
  --font: FiraCode, monospace;
}

.theme-dark {
  --bg-color: black;
  --fg-color: white;
  --border: gray;
  --dimmed: lightgray;
  --font: FiraCode, monospace;
}

body {
  background: var(--bg-color);
  color: var(--fg-color);
  font-family: var(--font);
}

a {
  color: var(--dimmed);
  text-decoration: none;
  &:active {
    color: var(--bg-color);
    background: var(--fg-color);
  }
}
