:root {
  --bg-color: white;
  --fg-color: black;
  --border: gray;
  --dimmed: darkgray;
  --font: FiraCode, monospace;
}

.theme-dark {
  --bg-color: #000;
  --fg-color: #efe5c0;
  --border: #3a3a3a;
  --dimmed: #a89984;
  --code: #e0a044;
  --code-bg: hsla(0,0%,100%,.07);
  --font: FiraCode, monospace;
}

